.product{
    width: 31%;
}

.product .item {
    position: relative;
    width: 100%; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product .item {
    width: 295px;
    height: 285px;
    overflow: hidden;
    border-radius: 8px; 
}

.product .item .image {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    transition: transform .3s ease;
}

.item .image:hover {
    transform: scale(1.1);
}

.description{
    width: 296px; 
    margin-top: 16px;
}

.product .description h2 a {
    font-size: 20px;
    color: #000000; 
    line-height: 27px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 8px;
}

.product .rating{
    display: flex;
    align-items: center;
    gap: 13px;
}

.rating p{
    font-size: 14px;
    color: #000000;
    margin-top: 2px;
}

.product .description h3 {
    font-size: 20px;
    color: #000000; 
    line-height: 27px;
    margin-top: 8px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
}