@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);
@import url('https://fonts.cdnfonts.com/css/satoshi');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

.category{
    margin-bottom: 100px;
}

.pageLinks {
    background-color: #b8b8b85a;
    position: absolute;
    z-index: 1;
    top: 30px;
    padding: 10px;
}

.pageLinks p{
    margin-bottom: 10px;
    position: relative;
    margin: 0;
    padding-bottom: 5px;
}

.pageLinks p:last-child{
    margin-bottom: 0;
}

.pageLinks p::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease; 
}

.pageLinks p:hover::after {
    width: 100%; 
}

/* .flexItem{
    display: flex;
    gap: 20px;
} */

.flexProduct{
    display: flex;
    gap: 40px;
    margin-top: 36px;
}

.detailTitle svg{
    margin: 0 14px;
}

.flexCont{
    display: flex;
    gap: 20px;
}